/* Reset básico */
* {
    background-color: #f8f8f8;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
}

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    filter: brightness(50%);
}

.banner p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente no texto */
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-align: center;
}

.banner-overlay p {
    font-size: 1.5em;
    font-weight: bold;
    max-width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.containerHighlights{
    display: flex;
    gap:200px;
    background-color: #f8f8f8;
}


.highlights {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 40px;
    margin-left: 145px;
}

.highlight-item {
    position: relative;
    width: 300px;
    text-align: center;
    color: #fff;
}

.highlight-item img {
    width: 500px;
    right: 500px;
    border-radius: 8px;
    filter: brightness(50%);
}

.highlight-item p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Botão de Call to Action */
.section_descubra {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin-left: 45px;
}


.banner img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    filter: brightness(50%);
}

.perfilViagem{
    width: 100%;
    margin-left: 150px;
}

.perfilViagem img {
    height: 400px;
    width: 92%;
    border-radius: 8px;
    filter: brightness(50%);
}

.banner2{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
}

.perfilViagem p{
    font-size: 30px;
    margin-bottom: 300px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.banner3{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
}

.perfilViagem2{
    width: 100%;
    margin-left: 150px;
    margin-bottom: 60px;
}

.perfilViagem2 img {
    height: 390px;
    width: 92%;
    border-radius: 8px;
    filter: brightness(50%);
}

.perfilViagem2 p{
    font-size: 30px;
    margin-bottom: 300px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.perfilViagem2 p:hover{
        color:blanchedalmond; 
}

.perfilViagem p:hover{
    color:blanchedalmond; 
}